* {
  box-sizing: border-box;
}

@font-face {
  font-family: "powerline";
  src: url("../fonts/Fura Mono Regular Nerd Font Complete Mono.otf");
}

body, .main {
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  background: #111;
  color: #fff;
  font-family: powerline;
  font-size: 16;
}

.main {
  align-items: center;
}

.h {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-self: stretch;
  background: #ccc;
  color: #111;
  font-family: powerline;
}

.term {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80ex;
  height: 20ex;
  border: 1px solid #333;
  border-radius: 16px;
}

.ps1 {
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  list-style: none;
  margin: 0;
}

.part {
  /*line-height: 2.4em;*/
  padding: 0.6em 0em;
  vertical-align: center;
  border: none;
  margin: 0;
}

.part--drag {
  /*line-height: 1em;*/
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.6em 1em;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  border-radius: 1000px;
  margin: 0 0.2em;
}

.button {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-self: center;
  background-image: linear-gradient(to right bottom, #d811e6, #cb15dc, #be18d1, #b119c7, #a51abc);
  padding: 0.55em 3em;
  border-radius: 1000px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  /*font-weight: bold;*/
}